/MiniSouq/nbproject/private/
/MiniSouq/build/
/MiniSouq/dist/
/souqProject/src/nbproject/private/
/souqProject/src/dist/
/souqProject/src/build/
souqProject/src/java/classes/admin.java
souqProject/src/java/classes/admin.java
souqProject/web/buy.jsp
souqProject/web/buy.jsp
