/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 3:17:04 PM
    Author     : Arwa
*/

.paddingBetweenCols td
{
    padding:0 60px 0 60px;
}
.navbar {
    overflow: hidden;
    padding: 6px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar a {
    float: left;
    font-size: 22px;
    color: #ff9a9d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: blockl;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 22px;    
    border: none;
    outline: none;
    color: #ff9a9d;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar .search-container {
  float: left;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px #ff9a9d;
  width: 450px;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ff9a9d;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background-color: #000000;
}


.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {

    background-color: #000000;
    border: solid 1px #ffcccc;

    /*background-color: #cbb8d7;*/

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.show {
    display: block;
}
table
{
    border-collapse:separate; 
border-spacing:1.5em;
}
header, footer {
    padding: 1em;
    color: black;
    /*background-color: #bdbdbd;*/
    clear: left;
    text-align: center;
    font-size: 22px;
}